@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,greek);
$font_family: "Open Sans","Helvetica","Arial","sans-serif";

$body-color : #eaedf1;

$breadcrumb: #1bbae1;

$help-region-bg-color: #5bc0de;

$title-header-bg-color: #f9fafc;

$table-header-bg-color: #6ad2eb;

$table-header-border-color: #eaedf1;

$table-row-bg-color: #f9f9f9;

$button-primary-border-color: #ed6b75;

$button-danger-bg-color: #ed6b75; 

$button-secondary-bg-color: #6ad2eb;

$button-action: #f39c12;

$button-action-bg-color: #f7be64;

$button-general-bg-color: #32c5d2;

$button-general-border-color: #32c5d2;

$form-elements-border-color: #6ad2eb;

$general-border-color: #dbe1e8;

$description-color: #777;

$header-color: #394263;

$title-border-bottom: #eef1f5;

$summary-border-color: #eaedf1;

$summary-icon-color: #325e1c;

$tab-border-color: #eaedf1; 

$horizontal-bar-color: #eaedf1;

$white: #fff;
